---
import { COMPANIES } from "../../constants/company";
import type { Pillar } from "../../types/company";
import CompanyTitle from "../CompanyTitle.astro";
import RoundedButton from "../RoundedButton.astro";
import TitleBorder from "../TitleBorder.astro";

const specialists = [
"Urbanización",
"Construcción Residencial",
"Movimiento de Tierras",
"Pavimentación concreto Asfaltico e Hidráulico",
"Líneas de Conducción de Agua",
"Tanques Elevados",
"Drenaje Sanitario",
"Drenaje Pluvial",
"Remodelación Casa Habitación",
"Mantenimiento Centros de Salud",
"Puentes",
]

const projects: Pillar []= [
    {
        title: "La Molienda",
        description: "Lorem ipsum dolor sit amet constur adipelit sed.",
        image: "https://res.cloudinary.com/civsa/image/upload/v1640809137/propiedades/kpzjwvl7ndqdwmk9ovzv.jpg?w=3840&q=75",
    },
    {
        title: "Pedregal de La Marquesa",
        description: "Lorem ipsum dolor sit amet constur adipelit sed.",
        image: "https://res.cloudinary.com/civsa/image/upload/v1641843379/propiedades/uvrrr2aogblofa5whubx.jpg?w=3840&q=75",
    },
    {
        title: "Otro Proyecto",
        description: "Lorem ipsum dolor sit amet constur adipelit sed.",
        image: "https://res.cloudinary.com/civsa/image/upload/v1638203929/brand/g4iizeszdlxuchc2fxrc.jpg",
    }
]

---

<section class="w-full flex flex-wrap justify-between items-center">
    <div class="w-full flex flex-col justify-center items-center gap-12">
        <div class="w-full flex flex-col justify-center items-center">
            <TitleBorder />
            <CompanyTitle text={COMPANIES.CONSTRUCTORA.fullName} />
        </div>
        <div class="w-full flex flex-col justify-center items-center gap-4">
            <p class="font-medium text-lg text-center">SOMOS ESPECIALISTAS EN:</p>
            <ul class="w-full flex flex-wrap justify-center items-center gap-4">
                {specialists.map((speciality) => (
                    <li class="font-light text-base text-left text-gray-600 lg:text-xl">{speciality}</li>
                ))}
            </ul>
        </div>
        <ul class="w-full flex flex-wrap justify-evenly items-center gap-10">
            {projects.map(({title, description, image}) => (
                <li class="max-w-sm bg-white border border-gray-200 rounded-lg shadow-md ">
                    <a href="#">
                        <img class="rounded-t-lg" src={image} alt={title} />
                    </a>
                    <div class="p-5">
                        <a href="#">
                            <h5 class="mb-2 text-2xl font-bold tracking-tight text-main">{title}</h5>
                        </a>
                        <p class="mb-3 font-normal text-gray-700">{description}</p>
                        <a href="#" class="inline-flex items-center px-5 py-2.5 text-sm font-medium text-center text-white bg-main rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300">
                            Read more
                            <svg class="w-3.5 h-3.5 ms-2 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                            </svg>
                        </a>
                    </div>
                </li>
            ))}
        </ul>
        {COMPANIES.CONSTRUCTORA.website && (
            <div class="w-full flex justify-center items-center">
                <RoundedButton link={COMPANIES.CONSTRUCTORA.website} target="_blank" text="Contáctanos" />
            </div>
        )}
    </div>
</section>
